<div class="form-container">

  <h2>User Registration</h2>

  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label>Full Name</label>
      <input type="text" formControlName="name" placeholder="Enter your name">

      <span class="error" *ngIf="userForm.controls.name.touched && userForm.controls.name.invalid">
        Name must be at least 3 characters
      </span>
    </div>

    <div class="form-group">
      <label>Email</label>
      <input type="email" formControlName="email" placeholder="Enter email">

      <span class="error" *ngIf="userForm.controls.email.touched && userForm.controls.email.invalid">
        Enter valid email
      </span>
    </div>

    <div class="form-group">
      <label>Age</label>
      <input type="number" formControlName="age" placeholder="Enter age">

      <span class="error" *ngIf="userForm.controls.age.touched && userForm.controls.age.invalid">
        Age must be 18+
      </span>
    </div>

    <button type="submit" [disabled]="userForm.invalid">
      Register
    </button>
    <div *ngIf="submittedData">

<h3>Submitted Data</h3>

<p>Name: {{submittedData.name}}</p>
<p>Email: {{submittedData.email}}</p>
<p>Age: {{submittedData.age}}</p>

</div>
  </form>

</div>